body {
  font-family: "Roboto", sans-serif;
}

#home-header {
  background-image: linear-gradient(rgba(20, 20, 20, 0.20), rgba(20, 20, 20, 0.20)) ,url("/Prb_Header.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.video {
  background-image: url("/video.png");
  background-size: cover;
}
